.vscode/*
bower_components/
node_modules/
**/node_modules/
package-lock.json
src/fullpage.extensions.js
src/js-extensions/**
src/js/mixed/index.js
dist/fullpage.extensions.js
examples/bug**
gulp/secret.js
build/**
local/**
dist/**
!dist/powerpod.js
!dist/powerpod.min.js
rollup.ext.config.js
